/*global styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
img {
  position: relative;
  width: 500px;
  height: auto;
}
/* header styles */
header {
  border: rgb(249, 169, 113);
  background-color: rgb(240, 207, 168);
  color: rgb(3, 3, 3);
  position: relative;
  padding: 2em;
}
header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
header nav {
  width: 300px;
  position: relative;
  top: 30px;
  left: 1230px;
}
header nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: right;
}
li {
  color: black;
  display: inline;
  margin: 7px;
  font-size: 20px;
  padding: 0;
}
/*section styles */

section {
  text-align: center;
  padding: 24px
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
}

#contact {
  background-color: bisque;
}
h2 {
margin: 0
}
#button {
  padding: 5px
}

/* footer style */
footer {
  text-align: center;
  color: palegoldenrod;
  background-color: black;
}
